$bg-hapo-list-course: #ffffff;
$bg-course-html-css: #3f6185;
$bg-course-laravel: #dc594c;
$bg-course-php: #556598;
$color-title-course: #b2d235;
$color-content-course: #505353;
$bg-other-courses-1: #24abe2;
$bg-other-courses-2: #e14e40;
$bg-other-courses-3: #1b75bb;

.wp-hapo-other-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  .title-other-course {
    font-weight: 700;
    font-size: 70px;
    color: #11114e;
    letter-spacing: -0.02em;
    line-height: 98px;
    border-bottom: 4px solid $color-title-course;
    margin-bottom: 40px;
  }

  .hapo-other-course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .list-course {
      width: 370px;
      height: 395px;
      background: $bg-hapo-list-course;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      flex-basis: 30%;

      .bg-course {
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px 15px 0px 0px;
      }

      .bg-course-css {
        background: $bg-other-courses-1;

        img {
          width: 50%;
          height: 50%;
        }
      }

      .bg-course-group {
        background: $bg-other-courses-2;

        img {
          width: 50%;
          height: 50%;
        }
      }

      .bg-course-java {
        background: $bg-other-courses-3;
        img {
          width: 50%;
          height: 50%;
        }
      }

      .title-course {
        font-size: 20px;
        padding: 5px;
        margin-bottom: 0;
        text-align: center;
        line-height: 37px;
        color: $color-title-course;
        font-weight: 600;
      }

      .content-course {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 20px;
        margin-bottom: 0;
      }

      .btn-course {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-title-course;
        box-shadow: inset 0px 1.5px 2px #6f8710;
        border-radius: 22px;
        text-align: center;
        border: none;
        padding: 6px 12px;
        color: white;
        margin: 0 auto;
      }
    }
  }

  .view-courses {
    color: $color-title-course;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 49px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .wp-hapo-other-course {
    .title-other-course {
      font-size: 50px;
    }

    .hapo-other-course {
      .list-course {
        width: 158px;
        height: 150px;
        .bg-course {
          height: 100%;
        }
        
        .title-course {
          font-size: 15px;
        }
        .content-course {
          font-size: 15px;
          padding: 8px;
        }
      }
    }

    .view-courses {
      margin-top: 180px;
    }
  }
}

@media screen and (max-width: 600px) {
  .wp-hapo-other-course {
    margin-top: 25px;
    .hapo-other-course {
      
      .list-course {
        .bg-course {
          height: 100%;
        }

        .title-course {
          font-size: 15px;
        }

        .content-course {
          font-size: 13px;
          padding: 0;
        }
      }
    }

    .view-courses {
      margin-top: 180px;
    }
  }
}

@media screen and (max-width: 420px) {
  .wp-hapo-other-course {
    margin-top: 700px;

    .hapo-other-course {
      flex-direction: column;
      height: 100vh;
      .list-course {

        margin-bottom: -250px;
        width: 270px;
        height: 230px;
        .content-course {
          padding-bottom: 10px;
        }
      }
    }

    .view-courses {
      margin-top: 400px;
    }
  }
}
