@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$color-menu: #505353;
$background-menu: #b2d235;
$background-toggle: #ffffff;
$color-special: #11114e;
$color-span: #505353;
$color-btn: #b2d235;
$color-hover: #c1dd50;
$text-color-btn: #ffffff;
$bg-hapo-list-course: #ffffff;
$bg-course-html-css: #3f6185;
$bg-course-laravel: #dc594c;
$bg-course-php: #556598;
$color-title-course: #b2d235;
$color-content-course: #505353;
$bg-other-courses-1: #24abe2;
$bg-other-courses-2: #e14e40;
$bg-other-courses-3: #1b75bb;
$bg-hapo-list-course: #ffffff;
$bg-course-html-css: #3f6185;
$bg-course-laravel: #dc594c;
$bg-course-php: #556598;
$color-title-course: #b2d235;
$color-content-course: #505353;
$bg-other-courses-1: #24abe2;
$bg-other-courses-2: #e14e40;
$bg-other-courses-3: #1b75bb;
